.app__wrapper_info > p:nth-child(1){
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: 500;
}
.app__header-h1{
    background-color: var(--font-alt);
    color: var(--color-black); 
    font-size: 60px;
}

.app__wrapper_img img{
    border-radius: 20px;
    width: 80%;
}

@media screen and (min-width: 1900px) {
    .app__header-h1 {
        font-size: 90px;
       
    }
    .app__wrapper_img img{
        border-radius: 30px;
        width: 80%;
        height: 80vh;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 60px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 50px;
    }
}
